{% extends 'base.html.twig' %}


{% block body %}


<section id="contact" class="contact mbr-box mbr-section mbr-section--relative mbr-section--bg-adapted">
    <div class="container">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <h4> Médias</h4>
          <div id="mediaList"></div>
          <form action="#" method="post">
              <div class="form-group">
          {{ form_row(formFigure.media,{'label': 'Ajouter des médias ici !','attr':{'placeholder': "Ajouterdes médias"}}) }}
    
          <button type="submit" id="add-media" class="default-btn">Ajouter une image<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
          
          </form>
        </div>
      </div>
  </div>

 <div class=" col-md-offset-1 col-md-5 col-sm-12">
        <div class="row center">
          <div class="newsletter">
          {% if editMode %}
            <h4>Modification d'une figure</h4>
            {% else %}
             <h4>Création d'une figure</h4>
             {% endif %}
            <form action="#" method="post">
              <div class="form-group">
              
                {{ form_start(formFigure) }}
                {{ form_row(formFigure.name, {'label': 'Nom de la figure','attr': {'placeholder': "Nom de la figure"}}) }}
                {{ form_row(formFigure.category, {'label': 'Catégorie de la figure'}) }}
                {{ form_row(formFigure.content, {'label': 'Description de la figure','attr':{'placeholder': "Description de la figure"}}) }} 
                

              <button id="submit_btn" class="default-btn"> 
              {% if editMode %}
               Enregistrer les modifications
               {% else %}
               Ajouter la figure
               {% endif %}
               <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
              {{ form_end(formFigure) }}

            </form>
          </div>
        </div>
      </div>
    </div>
    </section>
    {% endblock %}
    
    
   {% block javascripts %}
  <script>
   addMedia=function(){

  var newId = document.getElementById("mediaQty").value++;

  document.getElementById("mediaList").innerHTML+=newElementMedia(newId);

}

newElementMedia=function(newId){
  return `
  <div>
    <select id="mediaType${newId}" name="mediaType${newId}">
      <option value="0" selected="selected">image</option>
      <option value="1">video</option>
    </select>
    <input type="text" id="url${newId}" name="url${newId}" required maxlength="255" size="10">
  </div>
  `;
}
</script>
  
   {% endblock %}