{% extends 'base.html.twig' %}

{% block body %}



<!-- Page Content -->
    

      <!-- Portfolio Item Heading -->
      

     <div class="homeImg" style="background:url(/assets/img/snowhome.jpg)">
     <div class="clicTricks">
     <img src="https://img.icons8.com/material/50/0874ab/snowboarding.png">
     <i class="fas fa-angle-double-down"></i>
     </div>
      </div>
      
     <div class="container">
     

      <!-- Related Projects Row -->
      <h2>Bienvenue dans le site communautaire de SnowTricks le plus fun !</h2>
      
      
      <hr>
      

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Mute</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
          </div>
          
       

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure1small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Style week</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure2small.jpg" alt="">
          </a>
           <a class="btn" href="{{ path('site_show') }}">Indy</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure3small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Stalefish</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure4small.jpg" alt="">
          </a>
           <a class="btn" href="{{ path('site_show') }}">Tail Grab</a>
           <i class="fas fa-pencil-alt"></i>
           <i class="fas fa-trash-alt"></i>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure5small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Nose Grab</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure6small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">360</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure7small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Fiche</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure8small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Fiche</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure9small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Fiche</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure10small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Fiche</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure12small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('site_show') }}">Fiche</a>
          <i class="fas fa-pencil-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>

      </div>
{% endblock %}
