{% extends 'base.html.twig' %}

{% block body %}

      
       <!-- PORTFOLIO -->
    <section class="portfolio">
      <div class="top-right-separator hidden-xs"></div>
      <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <div class="row center">
            <div class="section-title mb-100">
              <div class="process-numbers">15</div>
              <h2>principales figures</h2>
              <p class="module-subtitle">Le Snowboard ou surf des neiges est un descendant logique du surf des mers et du skateboard. Le surf est une pratique sportive originaire d'Hawaï au moins au xve siècle et représente un élément important de la culture de ces îles. Le surf a aussi inspiré le skateboard, initié en 1950 et qui se développera plus vite, le snowboard sera plus long à être mis au point et à se répandre mais gardera l'esprit de ces 2 sports.

On peut retrouver les prémices du snowboard chez les Mongols au xviiie siècle, puis plus récemment dans les années 1920 : dès cette époque, il semble que de nombreuses personnes se soient essayées à glisser sur la neige debout sur une planche indépendamment de toute invention ou commercialisation. Les premiers dépôts de brevets attribuent l'invention à Jake Burton.
              </p>
            </div>
          </div>
        </div>
        
        <!-- categories  -->
   
        
    
       
        {% for figure in figures %}
          <div class="col-md-6 photography" onclick="window.location=' {{ path('site_show' , {'id': figure.id}) }}'">
              <a class="portfolio_item work-grid">
              <div class="mediaImg" style="background-image:url({{ figure.coverImage }})"></div>
                <div class="portfolio_item_hover">
                  <div class="item_info">
                    <span>{{ figure.name }}</span>
                    {% if app.user and app.user == figure.author %}
                    <em onclick="window.location='{{ path('site_edit' , {'id': figure.id}) }}'; event.stopPropagation();"><i class="fa fa-pencil"></i></em>
                    <em onclick="window.location='{{ path('site_edit' , {'id': figure.id}) }}'; event.stopPropagation();"><i class="fa fa-trash"></i></em> 
                    {% endif %}
                  </div><!--  -->
                </div>
              </a>
            </div>
{% endfor %}
</div>
</div>
</div>
    </section>
    
{% endblock %}


