{% extends 'base.html.twig' %}

{% block body %}


<section id="contact" class="contact mbr-box mbr-section mbr-section--relative mbr-section--bg-adapted">
    <div class="container">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <h4>{{ figure.name }}</h4>
          <p class="libre-text mt-50">
            Fiche :
            <div class="metadata">Ecrit le {{ figure.createAt | date('d/m/Y')}} à {{ figure.createAT | date('H:i')}} dans la catégorie {{ figure.category.title }}</div>
         </div>
         <div class="content">
               {{ figure.content | raw }}
          </div>
          </p>
        </div>
      </div>


 <div class=" col-md-offset-1 col-md-5 col-sm-12">
        <div class="row center">
          <div class="newsletter">
            <h4>Commentaires</h4>
            
            <form action="#" method="post">
              <div class="form-group">
                {{ form_start(Commentform) }}
                {{ form_row(Commentform.author, {'attr': {'placeholder': "Auteur"}}) }}
                {{ form_row(Commentform.content, {'attr': {'placeholder': "commentaire"}}) }} 
                

             <i class="fa fa-angle-double-right" aria-hidden="true">Commenter</i></button>
              {{ form_end(formComment) }}

            </form>
          </div>
        </div>
      </div>
    </div>
    </section>
    {% endblock %}