{% extends 'base.html.twig'%}

{% block body %}

<article>
      
     <div class="homeImg" style="background:url(/assets/img/figure.jpg)">
     <i class="fas fa-pencil-alt"></i>
      <i class="fas fa-trash-alt"></i>
    	 <h2>{{ figure.name }}</h2>
      </div>
      

<div class="metadata">Ecrit le {{ figure.createAt | date('d/m/Y')}} à {{ figure.createAT | date('H:i')}} dans la catégorie {{ figure.category.title }}</div>
</div>
 	<div class="content">
     {{ figure.content | raw }}
</div>
</article>

<section id="commentaires">
	<h3>{{ figure.comments | length }} commentaires : </h3>
	{% for comment in figure.comments %}
	<div class="comment">
		<div class="row">
			<div class="col-3">
				{{comment.author}} (<small>{{comment.createAt | date ('d/m/Y à H:i')}})</small>
			</div>
			<div class="col">
				{{comment.content | raw}}
			</div>
		</div>
	</div>
	{% endfor %}
	
	
  {% if app.user %}
	{{ form_start(commentForm) }}
	{{ form_row(commentForm.author, {'attr': {'placeholder': "votre nom"}})}}
	{{ form_row(commentForm.content, {'attr': {'placeholder': "votre commentaire"}})}}

	<button type="submit" class="btn btn-sucess">Commenter !</button>
	{{ form_end(commentForm) }}
	
	{% else %}
	   <h2>Connectez vous pour discuster de snow :) !</h2>
	   <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
	 {% endif %}  
</section>
{% endblock %}