{%  extends 'base.html.twig' %}

{% form_theme formFigure 'bootstrap_4_layout.html.twig' %}

{% block body %}

    
    <h1>Création d'une figure</h1>
    
    {{ form_start(formFigure) }}
    
    {{ form_row(formFigure.nom, {'attr' : {'placeholder' : "Nome de la figure" }}) }} 
    {{ form_row(formFigure.content, {'attr' : {'placeholder' : "Fiche de la figure" }}) }}
    {{ form_row(formFigure.image, {'attr' : {'placeholder' : "URL de l'image" }}) }} 
    {{ form_row(formFigure.video, {'attr' : {'placeholder' : "URL de la video" }}) }}
    {{ form_row(formFigure.auteur, {'attr' : {'placeholder' : "Nom de l'auteur" }}) }}
    
    <button type="submit" class="btn btn-success">{%  if editMode  %}
    Enregistrer les modifications 
    {% else %}
    Ajouter la figure
    {%  %endif %}
    </button>
    
    
    {{ form_end(formFigure) }}
    
    
{% endblock %}