{% extends 'base.html.twig' %}

{% block body %}




<!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h2 class="my-4">Bienvenue dans le site communautaire de SnowTricks le plus fun !</h2>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="/assets/img/snowhome.jpg" alt="SnowFun">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Le Snow Board</h3>
          <p>Le Snowboard ou surf des neiges est un descendant logique du surf des mers et du skateboard. 
          Le surf est une pratique sportive originaire d'Hawaï au moins au xve siècle et représente un 
          élément important de la culture de ces îles. Le surf a aussi inspiré le skateboard, 
          initié en 1950 et qui se développera plus vite, le snowboard sera plus long à être mis au point
          et à se répandre mais gardera l'esprit de ces 2 sports.</p>

          <h3 class="my-3">Les groupes</h3>
          <ul>
            <li>Les grabs</li>
            <li>Les rotations</li>
            <li>Les flips</li>
            <li>Les rotations desaxées</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Tricks</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('blog_show') }}">Fiche</a>
          <a classe="btn" href="{{ path('blog_create') }}>"Modification</a>
          <a classe="btn" href="{{ path('blog_create') }}>"Suppression</a>
          </div>
          
       

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure1small.jpg" alt="">
          </a>
           <a class="btn" href="{{ path('blog_show') }}">Fiche</a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure2small.jpg" alt="">
          </a>
           <a class="btn" href="{{ path('blog_show') }}">Fiche</a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure3small.jpg" alt="">
          </a>
          <a class="btn" href="{{ path('blog_show') }}">Fiche</a>
        </div>
        
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figure4small.jpg" alt="">
          </a>
           <a class="btn" href="{{ path('blog_show') }}">Fiche</a>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
        </div><div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
        </div><div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
        </div><div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
        </div><div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
        </div><div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
        </div><div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/img/figuresmall.jpg" alt="">
          </a>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
